.cheatsheet {
    margin-top: $margin-xl;
    .cheatsheet__headings {
        h1, h2, h3, h4, h5, h6 {
            color: $primary-color;
        }
        h1 {
            color: lighten( $primary-color, 4% ) !important;
        }
        h2 {
            color: lighten( $primary-color, 8% ) !important;
        }
        h3 {
            color: lighten( $primary-color, 12% ) !important;
        }
        h4 {
            color: lighten( $primary-color, 16% ) !important;
        }
        h5 {
            color: lighten( $primary-color, 20% ) !important;
        }
        h6 {
            color: lighten( $primary-color, 24% ) !important;
        }
    }

    #cheatsheet__buttons {
        .container {
            .buttons__container {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: $gap-lg;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .cheatsheet__flex-content {
        .flex-content__heading {
            margin-bottom: 0;
        }
        .container {

            padding-top: $padding-lg;
        }

    }
    .cheatsheet__paragraph {
        .container {
            padding-top: $padding-md;
            .row {
                display: flex;
            }
            p {
                column-count:3;
                column-gap: $gap-xl;
            }
    
        }
    }
    .cheatsheet__ul-li {
        .container {
            .row {
                &:nth-child(2) {
                    display: flex;
                    align-items: center;
                    gap: $gap-xl;
                }
            }
        }
    }
}

.cheatsheet__lightbox {
    .container {
        .row {
            &:nth-child(2) {
                display: flex;
                align-items: center;
                gap: $gap-xl;
            }
        }
    }
}