.footer {
    background-color: $primary-color;
    p, a {
        color: white;
    }
    .container {
        .footer__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-items: baseline;
            .footer__logo {
                position: relative;
                padding: $padding-md $padding-md $padding-md 0;
                width: 96px;
                margin-bottom: auto;
                z-index: 1;
                svg {
                    .logo{
                        fill: white;
                    }
                }
            }
            .footer__contact-links {
                a {
                    justify-content: end;
                }
            }
        }
    }
    .footer__copyright {
        background: $primary-color-d-4;
        p, a {
            font-size: $font-md;
            margin: 0;
            color: white;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: $padding-md;
            padding-bottom: $padding-md;
            .bottom__links {
                display: flex;
                align-items: center;
                a {
                    text-decoration: none;
                    margin: 0;
                    &:hover {
                        text-decoration: underline;
                        text-underline-position: under;
                    }
                }
            }
        }
        .to-top {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: $margin-lg;
            transition: all $main-transition;
            border: 1px solid white;
            fill: white;
            height: 32px;
            width: 32px;
            padding: $padding-sm;
            &:hover {
                background-color: black;
                border: 1px solid $primary-color;
                svg {
                    fill: $primary-color;
                }
            }
            svg {
                transform: rotate(-90deg);
            }
        }
    }
}