.footer {
    background-color: $gray-2;
    color: white;
    .container {

        .footer__top {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            .footer__logo {
                padding: $padding-md;
                width: 150px;
                z-index: 1;
                position: relative;
            }
        }
    }
    .footer__bottom {
        background-color: $gray-3;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $padding-sm $padding-lg;
            color: $text-light;
            .bottom__copyright {
                p {
                    color: $text-light;
                    margin: 0;
                }
            }
            .bottom__links {
                display: flex;
                align-items: center;
                a {
                    color: $text-light;
                    text-decoration: none;
                    margin: 0;
                    &:hover {
                        text-decoration: underline;
                        text-underline-position: under;
                    }
                }
                span {
                    margin: 0 $margin-sm;
                }
            }
        }
        .to-top {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: $margin-lg;
            transition: $main-transition;
            border: 1px solid $text-light;
            height: 32px;
            width: 32px;
            &:hover {
                background-color: $gray-8;
            }
        }
    }
}