.screen-reader-response {
    display: none;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-lg;
    align-items: end;
    @media(max-width: $tablet) {
        grid-template-columns: 1fr;
    }
    .form-col,
    .wpcf7-response-output {
        position: relative;
        // Response output
        &:nth-child(1) {
            grid-column: 2 / span 1;
        }
        // Honeypot
        &:nth-child(2) {
            grid-column: 2 / span 1;
        }
        &:nth-child(3) {
            grid-column: 1 / span 1;
        }
        &:nth-child(4) {
            grid-column: 2 / span 1;
        }
        &:nth-child(5) {
            grid-column: 1 / span 1;
        }
        &:nth-child(6) {
            grid-column: 2 / span 1;
        }
        &:nth-child(7) {
            grid-column: 1 / span 2;
        }
        &:nth-child(8) {
            grid-column: 1 / span 2;
        }
        // Submit button
        &:nth-child(9) {
            grid-column: 1 / span 1;
        }
        // Error message
        &:nth-child(10) {
            grid-column: 1 / span 2;
        }
        @media(max-width: $tablet) {
            grid-column: 1 / span 1 !important;
        }
        label {
            position: absolute;
            // top: 50%;
            left: 16px;
            top: 8px;
            transition: all 0.25s ease-in-out;
            color: gray;
            background: white;
        }
        label,
        input,
        textarea {
            font-family: $font-family;
            font-size: 16px;
            transition: all 0.2s;
            touch-action: manipulation;
        }
        input,
        textarea {
            width: 100%;
            border: 0px;
            cursor: text;
            border: 1px solid #e5e5e5;
            border-radius: $border-radius-xxs;
            &:focus {
                outline: 0;
            }
            &::placeholder {
                color: gray;
            }
        }
        input {
            height: 40px;
            padding-left: $padding-md;
            &:nth-of-type() {
                margin-bottom: 0;
            }
        }
        textarea {
            height: 200px;
            padding: $padding-sm $padding-md;
        }
        [type="text"],
        [type="email"],
        [type="tel"],
        textarea {
            width: 100%;
            &:focus {
                border-color: $primary-color;
            }
        }
        


        input[type='checkbox'] {
            background-color: #fff;
            /* remove browser chrome */
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none;
            outline: none;
            /*add styling */
            position: relative;
            width: 20px;
            height: 20px;
            border: 1px solid #aeaeae;
            overflow: hidden;
            border-radius: 3px;
            cursor: pointer;
            padding:0 0.6rem !important;
            font-size: inherit !important;
            margin: 0;
            margin-right: 0.5rem;
        }
            
        input[type='checkbox']::before {
            content: '';
            color: #fff;
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            background-color: transparent;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 2px;
            -webkit-transform: scale(0);
                    transform: scale(0);
            -webkit-transition: -webkit-transform 0.25s ease-in-out;
            transition: -webkit-transform 0.25s ease-in-out;
            transition: transform 0.25s ease-in-out;
            transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
            background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQ0OCIgaGVpZ2h0PSI0NDgiIHZpZXdCb3g9IjAgMCA0NDggNDQ4Ij4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZD0iTTQxNy43NSAxNDEuNWMwIDYuMjUtMi41IDEyLjUtNyAxN2wtMjE1IDIxNWMtNC41IDQuNS0xMC43NSA3LTE3IDdzLTEyLjUtMi41LTE3LTdsLTEyNC41LTEyNC41Yy00LjUtNC41LTctMTAuNzUtNy0xN3MyLjUtMTIuNSA3LTE3bDM0LTM0YzQuNS00LjUgMTAuNzUtNyAxNy03czEyLjUgMi41IDE3IDdsNzMuNSA3My43NSAxNjQtMTY0LjI1YzQuNS00LjUgMTAuNzUtNyAxNy03czEyLjUgMi41IDE3IDdsMzQgMzRjNC41IDQuNSA3IDEwLjc1IDcgMTd6Ij48L3BhdGg+Cjwvc3ZnPgo=");
        }
            
        input[type='checkbox']:checked::before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }



        label.focused {
            top: -16px;
            transform: none;
            transition: all 0.2s ease;
            color: $primary-color;
            padding: 0 4px;
            transform: translateX(-4px);
        }
        [type="submit"] {
            background: $primary-color;
            color: white;
            max-width: 170px;
            cursor: pointer;
            &:hover {
                background-color: $secondary-color;
            }
        }
        .wpcf7-not-valid-tip {
            position: absolute;
            top: -8px;
            bottom: 100%;
            right: 16px;
            font-size: $font-sm;
            color: red;
            background: white;
            padding: 0 4px;
            height: fit-content;
            transform: translateX(-4px);
        }
    }
}
.invalid {
    .wpcf7-response-output {
        margin-bottom: $margin-lg;
        color: red;
        border: 1px solid red;
        padding: $padding-sm $padding-md;
        border-radius: $border-radius-xxs;
    }
}