* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,
p, a, ul, li,
input, textarea {
    font-family: 'Open Sans';
    margin-top: 0;
    margin: 0 0 $margin-md 0;
    line-height: $line-height;
}

h1,h2,h3,h4,h5,h6 {
    color: $heading-color;
}

p, a, ul, li{
    color: $text-color;
}

h1 {
    font-size: $font-xxxl;
}

h2 {
    font-size: $font-xxl;
}

h3 {
    font-size: $font-xl;
}

h4 {
    font-size: $font-lg;
}

h5 {
    font-size: $font-lg;
}

h6 {
    font-size: $font-lg;
}

p {
    margin-bottom: 15px;
    color: $text-color;
}

a {
    cursor: pointer;
    text-decoration: underline;
    text-underline-position: under;
    transition: $main-transition;
}

ul {
    list-style-type: none;
    display: block;
    align-items: center;
    margin-top: 0;
    li {
        line-height: 1.8;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);
            left: -$margin-md;
            height: 8px;
            width: 8px;
            background-color: $blue;
            margin-right: $margin-sm;
            border-radius: 50%;
        }
    }
}



section {
  padding: 0 0 $padding-lg 0;   
}

.container {
    padding: $padding-xl;
    width: 100%;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    @media(max-width: $desktop-xl) {
        padding: $padding-lg;
    }
    @media(max-width: $tablet) {
        padding: $padding-md;
    }
    @media(max-width: $mobile) {
        padding: $padding-sm;
    }
    .row {
        position: relative;
        width: 100%;
    }
}

img,
svg {
    display: block;
    height: 100%;
    width: 100%;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page {
    position: relative;
}