.header {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    .header__nav {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header__logo {
                height: 80px;
            }
        }
    }
}