.header {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 90;
    .header__nav {
        position: relative;
        width: 100%;
        transition: $main-transition;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
            padding-top: $padding-md;
            padding-bottom: $padding-md;
            .header__logo {
                height: 56px;
                margin: 0;
                transition: $main-transition;
            }
            .menu-main-container {
                margin-left: auto;
                .menu {
                    display: flex;
                    align-items: center;
                    gap: $gap-lg;
                    margin: 0 $margin-xl 0 0;
                    padding: 0;
                    li {
                        margin: 0;
                        &:before {
                            content: none;
                        }
                        a {
                            text-decoration: none;
                            font-weight: bold;
                            &:hover {
                                text-decoration: underline;
                                text-underline-position: under;
                            }
                        }
                    }
                }
            }
        }
    }
}
.header-sticky {
    .header__nav {
        position: fixed;
        top: 0;
        left: 1%;
        right: 1%;
        width: calc(100% - 2%);
        transition: $main-transition;
        z-index: 90;
        .container {
            height: 80px;
            background: white;
            border: 1px solid black;
            transition: $main-transition;
        }
    }
}