.header {
    position: relative;
    height: 100%;
    width: 100%;
    .header__nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: calc(100%);
        transition: width $main-transition;
        z-index: 99;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
            padding-top: $padding-md;
            padding-bottom: $padding-md;
            transition: height $main-transition;
            .header__logo {
                height: 56px;
                margin: 0;
                transition: height $main-transition;
                svg {
                    .logo {
                        fill: black;
                    }
                }
            }
            #nav--open {
                margin: 0;
            }
            .menu-main-container {
                margin-left: auto;
                .menu {
                    display: flex;
                    align-items: center;
                    gap: $gap-lg;
                    margin: 0 $margin-xl 0 0;
                    padding: 0;
                    li {
                        margin: 0;
                        &:before {
                            content: none;
                        }
                        a {
                            text-decoration: none;
                            font-weight: bold;
                            &:hover {
                                text-decoration: underline;
                                text-underline-position: under;
                            }
                        }
                    }
                }
            }
        }
    }
    .header__content {
        margin-top: $margin-xl;
        .container {
            padding-bottom: 0;
        }
    }
}
.--sticky {
    p, a {
        color: white;
    }
    .header__nav {
        width: calc(100% - 2%);
        transition: width $main-transition;
        z-index: 90;
        .container {
            height: 50px;
            background: black;
            transition: height $main-transition;
            .header__logo {
                height: 32px;
                transition: height $main-transition;
                svg {
                    .logo{
                        fill: white;
                    }
                }
            }
            #nav--open {
                color: white;
                margin: 0;
            }
        }
    }
}