.nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: $primary-color-d-6;
    transition: width $main-transition;
    z-index: 99;
    overflow: hidden;
    .nav__content {
        position: fixed;
        width: 100%;
        .container {
            padding-left: $padding-lg;
        }
        .nav__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $padding-sm;
            margin-bottom: $margin-lg;
            background-color: $primary-color;
        }
        .nav__links {
            .menu {
                padding-left: 0;
                li {
                    padding: $padding-sm 0;
                    margin-bottom: $margin-md;
                    &::before {
                        content: none;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        &:hover {
                            text-decoration: underline;
                            text-underline-position: under;
                        }
                    }
                    .--active {
                        text-decoration: underline;
                    }
                }
                .sub-menu {
                    padding-left: $padding-md;
                    li {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.nav {
    right: 0;
    transition: width $main-transition;
    z-index: 100;
}
.nav--active {
    width: 400px;

    @media(max-width: $tablet){
        max-width: 80%;
    }
    @media(max-width: $mobile){
        max-width: 90%;
    }
}

#nav--open,
#nav--close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    padding: 0;
    font-size: $font-xxxl;
    cursor: pointer;
    transition: all $main-transition;
    display: none;
    @media(max-width: $tablet){
        display: flex;
    }
}
#nav--open {
    position: relative;
    line-height: 1;
    // color: white;
    margin: 0;
    font-size: $font-xxxxl;
}
#nav--close {
    font-size: $font-xxl;
    background: no-repeat;
    border: none;
    color: black;
    background-color: white;
    &:hover {
        background-color: $red;
        color: white;
    }
}