.content {
    .content-with-text {
        display: flex;
        align-items: flex-start;
    }
}

.flex-content {
    .container {
        padding-top: $padding-xl;
        padding-bottom: $padding-lg;
        .row {
            display: flex;
            gap: $gap-lg;
            margin-bottom: 48px;
            &:nth-child(1) {
                padding-top: 0;
            }
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
            @media(max-width: $tablet){
                flex-direction: column !important;
                
            }
            .flex-content__image {
                flex: 1 0 50%;
                img {
                    border-radius: $border-radius-xxs;
                    object-fit: cover;
                    height: 100%;
                }
                iframe {
                    height: 100%;
                    min-height: 320px;
                    width: 100%;
                }
            }
            .flex-content__paragraph {
                flex: 1 1 50%;
                h2, h3, h4 {
                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        margin-top: $padding-lg;
                    }
                }
                a {
                    text-transform: initial;
                }
                .btn {
                    margin-top: $margin-md;
                }
            }
        }
        .row-flex-content-text {
            flex-direction: column;
            gap: initial;
            .flex-content__text {
                gap: $gap-xl;
                @media(max-width: $tablet){
                    column-count: 2 !important;
                    gap: $gap-lg;
                }
                @media(max-width: $mobile){
                    column-count: 1 !important;
                }
            }
        }
    }
}

.four-o-four {
    margin-top: 196px;
}

.blog {
    .container {
        .row {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
            gap: $gap-lg;
        }
        .blog__card {
            border-radius: $border-radius-xxs;
            box-shadow: $box-shadow-lg;
            overflow: hidden;
            .card__img {
                aspect-ratio: 4 / 3;
                object-fit: cover;
                height: auto;
            }
            .card__content {
                padding: $padding-lg;
                @media(max-width: $tablet){
                    padding: $padding-md;
                }
            }
        }
    }
}

.single-blog {
    .container {
        display: flex;
        gap: $gap-xl;
        @media(max-width: $tablet){
            flex-direction: column;
            gap: $gap-lg;
        }
        .sidebar {
            .sidebar__content {
                box-shadow: $box-shadow-md;
                padding: $padding-lg;
                border-radius: $border-radius-xxs;
                .content__categories {
                    ul {
                        margin: 0;
                        li {
                            a {
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .contact__paragraph {
                    a {
                        margin-bottom: $margin-sm;
                        &:nth-last-child(1) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}