.content {
    .content-with-text {
        display: flex;
        align-items: flex-start;
    }
}

.projects {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
    }
    .project {
        position: relative;
        .project__container {
            position: relative;
            border: 1px solid black;
            img {
                object-fit: cover;
            }
            .project__content {
                position: relative;
                padding: $padding-lg;
                .btn-link {
                    margin: $margin-md 0 0 0;
                    padding: 0;
                }
            }
        }
    }
}