.content {
    .content-with-text {
        display: flex;
        align-items: flex-start;
    }
}

.flex-content {
    .container {
        padding-top: $padding-xl;
        padding-bottom: $padding-lg;
        .row {
            display: flex;
            gap: $gap-lg;
            margin-bottom: 48px;
            &:nth-child(1) {
                padding-top: 0;
            }
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
            @media(max-width: $tablet){
                flex-direction: column !important;
                
            }
            .flex-content__image {
                flex: 1 0 50%;
                img {
                    border-radius: $border-radius-xxs;
                    object-fit: cover;
                    height: 100%;
                }
                iframe {
                    height: 100%;
                    min-height: 320px;
                    width: 100%;
                }
            }
            .flex-content__paragraph {
                flex: 1 1 50%;
                h2, h3, h4 {
                    margin-bottom: $margin-md;
                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        margin-top: $padding-lg;
                    }
                }
                a {
                    text-transform: initial;
                }
                .btn {
                    margin-top: $margin-md;
                }
            }
        }
        .row-flex-content-text {
            flex-direction: column;
            gap: initial;
            h1,h2,h3,h4,h5,h6 {
                margin-bottom: $margin-md;
            }
            .flex-content__text {
                @media(max-width: $tablet){
                    column-count: 2 !important;
                }
                @media(max-width: $mobile){
                    column-count: 1 !important;
                }
            }
        }
    }
}

.projects {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
    }
    .project {
        position: relative;
        .project__container {
            position: relative;
            border: 1px solid black;
            img {
                object-fit: cover;
            }
            .project__content {
                position: relative;
                padding: $padding-lg;
                .btn-link {
                    margin: $margin-md 0 0 0;
                    padding: 0;
                }
            }
        }
    }
}

.four-o-four {
    margin-top: 196px;
}