// Breakpoints
$mobile: 576px;         // Mobile
$tablet: 768px;         // Tablet
$desktop: 992px;        // Desktop
$desktop-xl: 1200px;    // Desktop large
$full-width: 1920px;    // Full width

// Max page width
$container-width: 1200px;

// Margins
$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 32px;
$margin-xl: 64px;

// Paddings
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 32px;
$padding-xl: 64px;

// Gaps
$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 32px;
$gap-xl: 64px;


// Line height
$line-height: 1.6;

// Font sizes
$font-xs: 0.625rem;     // 10px
$font-sm: 0.75rem;      // 12px
$font-md: 0.875rem;     // 14px
$font-root: 1rem;       // 16px
$font-lg: 1.125rem;     // 18px
$font-xl: 1.25rem;      // 20px
$font-xxl: 1.5rem;      // 24px
$font-xxxl: 1.75rem;    // 28px
$font-xxxxl: 2rem;      // 32px
$font-xxxxxl: 3rem;     // 48px

// Colors

$primary-color: #005891;
$secondary-color: #ff870c;
$primary-color-dark: #15173a;
$heading-color: black;
$text-color: #4a4a4a;


$blue: #183254;
$blue-dark: #162D4B;
$blue-darker: #101E31;
$red: #E73743;
$yellow: #FECC04;
$yellow-light: #FED842;
$text: #414141;
$text-light: #56606D;
$light-gray: #eaeaea;


// Boilerplate colors
$gray-1: #f8f9fa;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #6c757d;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;

// Transitions
$main-transition: 0.2s ease;

// Site global variables
$clip-path-slant: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
$border-radius: 15px;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;