// Breakpoints
$mobile: 576px;         // Mobile
$tablet: 768px;         // Tablet
$desktop: 992px;        // Desktop
$desktop-xl: 1200px;    // Desktop large
$full-width: 1920px;    // Full width

// Max page width
$container-width: 1200px;

// Margins
$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 32px;
$margin-xl: 64px;

// Paddings
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 32px;
$padding-xl: 64px;

// Gaps
$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 32px;
$gap-xl: 64px;


// Line height
$line-height: 1.6;

$border-radius-xxs: 4px;
$border-radius-xxs: 8px;
$border-radius-xs: 12px;
$border-radius-root: 16px;
$border-radius-lg: 20px;
$border-radius-xl: 24px;
$border-radius-xxl: 28px;
$border-radius-xxxl: 32px;


// Font sizes
$font-xs: 0.625rem;     // 10px
$font-sm: 0.75rem;      // 12px
$font-md: 0.875rem;     // 14px
$font-root: 1rem;       // 16px
$font-lg: 1.125rem;     // 18px
$font-xl: 1.25rem;      // 20px
$font-xxl: 1.5rem;      // 24px
$font-xxxl: 1.75rem;    // 28px
$font-xxxxl: 2rem;      // 32px
$font-xxxxxl: 3rem;     // 48px

// Font family
$font-family: 'Open Sans';

// Colors
$primary-color: #005891;
$secondary-color: #ff870c;
$primary-color-dark: #15173a;
$heading-color: black;
$text-color: #4a4a4a;

$red: #E73743;
$yellow: #FECC04;

// HSL (hue, saturation, and lightness)
// $primary: hsl(204, 100%, 28%);



// Transitions
$main-transition: 0.2s ease;

// Site global variables
$box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;